account/account/Service References/ClosestRestaurantAndNaturalHazards/ClosestRestaurantAndNaturalHazardsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClosestRestaurantAndNaturalHazardsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page2/ClosestRestaurantAndNaturalHazardsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page2/ClosestRestaurantAndNaturalHazardsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page2/ClosestRestaurantAndNaturalHazardsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClosestRestaurantAndNaturalHazardsService_FindClosestRestaurants_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestRestaurants" />
  </wsdl:message>
  <wsdl:message name="IClosestRestaurantAndNaturalHazardsService_FindClosestRestaurants_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestRestaurantsResponse" />
  </wsdl:message>
  <wsdl:message name="IClosestRestaurantAndNaturalHazardsService_NaturalHazardsService_InputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazardsService" />
  </wsdl:message>
  <wsdl:message name="IClosestRestaurantAndNaturalHazardsService_NaturalHazardsService_OutputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazardsServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IClosestRestaurantAndNaturalHazardsService">
    <wsdl:operation name="FindClosestRestaurants">
      <wsdl:input wsaw:Action="http://tempuri.org/IClosestRestaurantAndNaturalHazardsService/FindClosestRestaurants" message="tns:IClosestRestaurantAndNaturalHazardsService_FindClosestRestaurants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClosestRestaurantAndNaturalHazardsService/FindClosestRestaurantsResponse" message="tns:IClosestRestaurantAndNaturalHazardsService_FindClosestRestaurants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NaturalHazardsService">
      <wsdl:input wsaw:Action="http://tempuri.org/IClosestRestaurantAndNaturalHazardsService/NaturalHazardsService" message="tns:IClosestRestaurantAndNaturalHazardsService_NaturalHazardsService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClosestRestaurantAndNaturalHazardsService/NaturalHazardsServiceResponse" message="tns:IClosestRestaurantAndNaturalHazardsService_NaturalHazardsService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClosestRestaurantAndNaturalHazardsService" type="tns:IClosestRestaurantAndNaturalHazardsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindClosestRestaurants">
      <soap:operation soapAction="http://tempuri.org/IClosestRestaurantAndNaturalHazardsService/FindClosestRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NaturalHazardsService">
      <soap:operation soapAction="http://tempuri.org/IClosestRestaurantAndNaturalHazardsService/NaturalHazardsService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClosestRestaurantAndNaturalHazardsService">
    <wsdl:port name="BasicHttpBinding_IClosestRestaurantAndNaturalHazardsService" binding="tns:BasicHttpBinding_IClosestRestaurantAndNaturalHazardsService">
      <soap:address location="http://webstrar8.fulton.asu.edu/Page2/ClosestRestaurantAndNaturalHazardsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>